:root {
    --eatbackground:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --veganbackground:linear-gradient(360deg, rgba(34,195,79,1) 0%, rgba(253,187,45,1) 100%);
    --homebackground:linear-gradient(180deg, rgba(4,2,57,1) 0%, rgba(1,36,0,1) 30%, rgba(9,9,121,1) 71%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);
    --nutsbackground:linear-gradient(180deg, rgba(195,114,34,1) 20%, rgba(34,195,79,1) 100%);
    --eatbackground2:linear-gradient(180deg, rgba(34,119,195,1) 20%, rgba(34,195,79,1) 100%);
    --homebackground2:linear-gradient(180deg, rgba(195,41,34,1) 20%, rgba(34,195,79,1) 100%);
    --homebackground3:linear-gradient(180deg, rgba(251,231,231,1) 30%, rgba(34,195,79,1) 100%);
    --homebackground4: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(34,195,79,1) 100%);
    --navbarColor:rgba(0, 0, 0, 0.151);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(255 255 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100vh;
    /* scrollbar function */
    /* overflow: hidden; */
}

main {
    width: 100%;
    height:100%;
    z-index: 8;
}

.container {
    width: 100%; 
    height:100%;
    /* scrolling smooth */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7em;
    top: 0;
    background: var(--navbarColor);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;  /* list items are align with flex */
    list-style: none;
    width: 100%;
    justify-content: center;
}

/* styling list items */
.navbar ul li {
    text-align: center;
/* margin: 0 1 1 rem; */
/* padding: 2rem; */
}

/* styling links of the navbar  */
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase; /* hoofdletter */
    /* font-size: 2em; */
    color: rgb(255 255 255);
}

/* animation navbar */
.navbar ul li a:hover {
    font-size: 1.2em;
    border-bottom: solid;
    border-color: red;
}

/* styling all sections (all pages) */
section {
    width: 100vw; /* css animation on the left side */
    height: 100vh;
    display: flex;
    flex-direction: column; /* setting h2 and paragraphs on top of each other*/
    align-items: center;
    justify-content: center;
    text-align: center;

    scroll-snap-align: center;

}

/* styling all h2's */
section h2 {
    font-size: 4rem;

}

section p {
    font-size: 1.5rem;
}

/* styling the section HomePage */
section#home {
    background: var(--homebackground4);
}

/* styling the section VeganPage */
section#vegan {
    background: var(--veganbackground);
}

/* styling the section NutsPage */
section#protein {
    background:var(--nutsbackground);
}

/* styling the section Eat timePage */
section#intermittentFasting {
    background: var(--eatbackground2);
}

/* horizontal scrolling, slidercontainer = in page section */
/* aligning all slider-items in the container*/
.slideContainer {
    width:100%;
    height: 60%;
    inline-size: min(100% - 4rem);
    /* background: purple; */
}

.slideContainer ul {
    display: flex;
    width: 100%;
    height: 100%;
}

.media-slider {
    height: 100%;
}

/* Vegan Page */
.media-group1 {
    width: 100%;
    height: 100%;
    display: flex;
     /*scrolling horizontall  */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-group1 ul {
    display: flex;
    gap: 3rem; 
    list-style: none;
}
/* Protein Page */
.media-group2 {
    width: 100%;
    height: 100%;
    display: flex;
     /*scrolling horizontall  */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-group2 ul {
    display: flex;
    gap: 3rem; 
    list-style: none;
}
/* Fasting Page */
.media-group3 {
    width: 100%;
    height: 100%;
    display: flex;
     /*scrolling horizontall  */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-group3 ul {
    display: flex;
    gap: 3rem; 
    list-style: none;
}

li {
    height: 100%;
    width: 100%;
}

li img {
    border-radius: 10%;
}

li h3 {
    display: none;
}

li h4 {
    display: none;
}
















.headerbox {
    width: 80vw;
    height: 10em;
    background: white;
    position: absolute;
    left: calc(50% - 40vw);
    top:20%;
    z-index: 1;
}
h1 {
    font-size:3em;
    position:absolute;
    top:20%;
    left:calc(50% - 1.5em);
    z-index: 2;
}
  

.containerGreen {
    width: 20em;
    height: 20em;
    /* position: absolute; */
    grid-column: 1 / 3;
    grid-row: 3;
    
}

.carrot {
    width: 4em;
    height: 8em;
    top:50%;
    left: 20%;
    position: absolute;
    border-radius: 51% 49% 50% 50% / 30% 33% 67% 70%;
    background: rgb(237 145 33);  
}

.leaf1 {
    width: 3em;
    height: 3em;
    background: darkgreen;
    position: absolute;
    top:3%;
    left:25%;
    border-radius:200px 0;
}

.leaf2 {
    width: 3em;
    height: 3em;
    background: darkgreen;
    position: absolute;
    top:3%;
    left:20%;
    border-radius:200px 0;
    transform: translate(45deg);
}

.leaf3 {
    width: 3em;
    height: 3em;
    background: darkgreen;
    position: absolute;
    top:3%;
    left:18%;
    border-radius:0 200px ;
}

.leaf4 {
    width: 3em;
    height: 3em;
    background: darkgreen;
    position: absolute;
    border-radius:200px 0 ;
    left:30%;
}

.clock {
    width:20em;
    height:20em;
}

.circle {
    width: 10em;
    height:10em;
    border-radius: 50%;
    background: white;
    border-style: solid;
    border-width: .5em;
    border-color: red;
}

.top {
    width:.3em;
    height:2em;
    background: black;
}

.bottom {
    width:.3em;
    height:2em;
    background: black;
}

.left {
    width:.3em;
    height:2em;
    background: black;
}

.right {
    width:.3em;
    height:2em;
    background: black;
}

.center {
    width:.2em;
    height:.2em;
    border-radius:50%;
    background:red;
}

.hour {
    width:.3em;
    height:1em ;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: pink;
    animation-name: clock hour;
}